# Codio Coding Activity 3.2: Cleaning Data

### Learning Outcome Addressed

- 3. Perform data cleaning in pandas.


## Index:

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)
- [Question 7](#Question-7)

### Importing Pandas

Before you begin this activity, you need to import the *pandas library*.

Run the code cell below.

In [1]:
import pandas as pd

Next, you need to lead the dataset that you will be using for this activity.

### Question 1
*2 points*

Read the dataset `melbourne_housing.csv` in the `data` folder and assign it to the *dataframe `ans1a`*.

In [2]:
### GRADED


### YOUR SOLUTION HERE
ans1a = pd.read_csv('data/melbourne_housing.csv')
ans1a

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63018,Roxburgh Park,3 Carr Pl,3,h,566000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63019,Roxburgh Park,9 Parker Ct,3,h,500000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63020,Roxburgh Park,5 Parkinson Wy,3,h,545000.0,S,Raine,31/03/2018,3064,Northern Metropolitan,5833,20.6,Hume City Council
63021,Thomastown,3/1 Travers St,3,u,NaN,PI,Barry,31/03/2018,3074,Northern Metropolitan,7955,15.3,Whittlesea City Council
63022,Williams Landing,1 Diadem Wy,4,h,NaN,SP,Aussie,31/03/2018,3027,Western Metropolitan,1999,17.6,Wyndham City Council

As you can see, the *dataframe* has some missing values. However, before dealing with them, it's a good idea to use some basic data exploration *functions* to become more familiar with your data.

In the code cell below, the *attribute `head()`* is used to see how many rows and columns are in your *dataframe*.

Run the code cell below.

In [3]:
ans1a.shape

(63023, 13)

Because the *dataframe* is quite large, you will drop the last 60,000 rows to speed up the computations.

Run the code cell below.

In [6]:
ans1a = ans1a.iloc[:-60000]

### Question 2
*2 points*

Suppose that for your analysis you don't need the columns `Method` and `Propertycount`.

Drop these columns and assign the modified *dataframe* to *`ans2a.`*

In [8]:
### GRADED


### YOUR SOLUTION HERE
ans2a = ans1a.drop(columns=['Method','Propertycount'])
ans2a

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Postcode,Regionname,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,Jellis,1/04/2017,3067,Northern Metropolitan,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,Marshall,1/04/2017,3067,Northern Metropolitan,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,Nelson,1/04/2017,3067,Northern Metropolitan,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,Barry,1/04/2017,3040,Western Metropolitan,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,Nelson,1/04/2017,3042,Western Metropolitan,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...
3018,Reservoir,100 Oconnor Ct,3,h,834000.0,Flannagan,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3019,Reservoir,2/25 Oconnor St,2,t,655000.0,Ray,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3020,Reservoir,10 Odonnell St,4,h,850000.0,Stockdale,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3021,Reservoir,2/59 Pickett St,2,t,610000.0,RW,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3022,Reservoir,20 Rubicon St,2,h,1070000.0,Woodards,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council

One possible step for data cleaning is to rename columns so they are more conveniently named.

### Question 3
*4 points*

Consider the *dataframe `ans2a`* defined above.

Increment each *index* value in the *dataframe* by one unit. Assign the new *dataframe* to *`ans3a`*.

Below is the pseudocode to complete this question.

```Python
#new_index
df.index = range(1, len(df)+increment_value)
```

In [24]:
### GRADED


### YOUR SOLUTION HERE
# YOUR CODE HERE
ans2a.index = range(1, len(ans2a) + 1)
ans3a = ans2a
ans3a

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Postcode,Regionname,Distance,CouncilArea
1,Abbotsford,49 Lithgow St,3,h,1490000.0,Jellis,1/04/2017,3067,Northern Metropolitan,3.0,Yarra City Council
2,Abbotsford,59A Turner St,3,h,1220000.0,Marshall,1/04/2017,3067,Northern Metropolitan,3.0,Yarra City Council
3,Abbotsford,119B Yarra St,3,h,1420000.0,Nelson,1/04/2017,3067,Northern Metropolitan,3.0,Yarra City Council
4,Aberfeldie,68 Vida St,3,h,1515000.0,Barry,1/04/2017,3040,Western Metropolitan,7.5,Moonee Valley City Council
5,Airport West,92 Clydesdale Rd,2,h,670000.0,Nelson,1/04/2017,3042,Western Metropolitan,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...
3019,Reservoir,100 Oconnor Ct,3,h,834000.0,Flannagan,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3020,Reservoir,2/25 Oconnor St,2,t,655000.0,Ray,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3021,Reservoir,10 Odonnell St,4,h,850000.0,Stockdale,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3022,Reservoir,2/59 Pickett St,2,t,610000.0,RW,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3023,Reservoir,20 Rubicon St,2,h,1070000.0,Woodards,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council

### Question 4
*4 points*

Consider the *dataframe `ans3a`* defined above.

Count the value of NaN's in each column. Assign the result to the *series `ans4a`*. 

What is the type of *`ans4a`*? Assign the result to *`ans4b`*.

In [55]:
### GRADED


### YOUR SOLUTION HERE
ans4a = ans3a.isna().sum()
ans4b = type(ans4a)

ans4a

Suburb           0
Address          0
Rooms            0
Type             0
Price          722
SellerG          0
Date             0
Postcode         0
Regionname       0
Distance         0
CouncilArea      0
dtype: int64

Another important step is to understand what the percentage of missing values is.

To compute this, you can multiply the number of missing values in each column by 100 and divide the result by the number of rows in the *dataframe*:

$$\text{percentage NaN} = \frac{\text{missing values per column}*100}{\text{number of rows}}$$

### Question 5
*3 points*

Compute the percentage of missing values in each column of *`ans3a.`* Assign the values to *`ans5a`.*

In [37]:
### GRADED


### YOUR SOLUTION HERE
ans5a = ans4a * 100 / len(ans3a)
# OR
# ans5a = ans4a.apply(lambda i: i * 100 / len(ans3a))

ans5a

Suburb          0.000000
Address         0.000000
Rooms           0.000000
Type            0.000000
Price          23.883559
SellerG         0.000000
Date            0.000000
Postcode        0.000000
Regionname      0.000000
Distance        0.000000
CouncilArea     0.000000
dtype: float64

Let's print *`ans5a`*. 

Run the code cell below.

In [38]:
ans5a

Suburb          0.000000
Address         0.000000
Rooms           0.000000
Type            0.000000
Price          23.883559
SellerG         0.000000
Date            0.000000
Postcode        0.000000
Regionname      0.000000
Distance        0.000000
CouncilArea     0.000000
dtype: float64

You can see that the column `Price` has just over 23.0% of missing values.

One possible strategy to deal with this would be to impute the values with the median of the not NaN values in the column.

### Question 6
*3 points*

Impute the missing values in *`ans3a`* with the median of the not missing values. Assign the new *dataframe* to *`ans6a`.*

In [57]:
### GRADED


### YOUR SOLUTION HERE
ans6a = ans3a.copy()

# without_nan_price = ans3a.dropna(subset=['Price'])
# median = without_nan_price[len(without_nan_price)]
# ans3a["Price"].median()
ans6a['Price'] = ans6a["Price"].fillna(ans3a["Price"].median())
ans6a

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Postcode,Regionname,Distance,CouncilArea
1,Abbotsford,49 Lithgow St,3,h,1490000.0,Jellis,1/04/2017,3067,Northern Metropolitan,3.0,Yarra City Council
2,Abbotsford,59A Turner St,3,h,1220000.0,Marshall,1/04/2017,3067,Northern Metropolitan,3.0,Yarra City Council
3,Abbotsford,119B Yarra St,3,h,1420000.0,Nelson,1/04/2017,3067,Northern Metropolitan,3.0,Yarra City Council
4,Aberfeldie,68 Vida St,3,h,1515000.0,Barry,1/04/2017,3040,Western Metropolitan,7.5,Moonee Valley City Council
5,Airport West,92 Clydesdale Rd,2,h,670000.0,Nelson,1/04/2017,3042,Western Metropolitan,10.4,Moonee Valley City Council
...,...,...,...,...,...,...,...,...,...,...,...
3019,Reservoir,100 Oconnor Ct,3,h,834000.0,Flannagan,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3020,Reservoir,2/25 Oconnor St,2,t,655000.0,Ray,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3021,Reservoir,10 Odonnell St,4,h,850000.0,Stockdale,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3022,Reservoir,2/59 Pickett St,2,t,610000.0,RW,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council
3023,Reservoir,20 Rubicon St,2,h,1070000.0,Woodards,3/03/2018,3073,Northern Metropolitan,12.0,Darebin City Council

Finally, you must make sure that our *dataframe* has no more missing values.

### Question 7
*2 points*

Check that *`ans6a`* has no more missing values. Assign the resulting *series* to *`ans7a.`*

In [59]:
### GRADED


### YOUR SOLUTION HERE
ans7a = ans6a.isna().sum()
ans7a

Suburb         0
Address        0
Rooms          0
Type           0
Price          0
SellerG        0
Date           0
Postcode       0
Regionname     0
Distance       0
CouncilArea    0
dtype: int64

Now, print *`ans7a`* to verify that you have no more missing values.

Run the code cell below.

In [ ]:
ans7a

Great! You have successfully cleaned your *dataframe*.