# Codio Coding Activity 3.5: Data Analysis in Pandas

### Learning Outcome Addressed

- 7. Analyze data in pandas.


## Index:

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)

### Importing Pandas

Before you begin  this activity, you need to import the *pandas library*.

Run the code cell below:

In [1]:
import pandas as pd

### A Note about the Data


The datasets used throughout this activity are saved inside the folder `/data`.

More information about this dataset can be found on Kaggle at this link:

https://www.kaggle.com/c/titanic

Each row in the file `titanic.csv` corresponds to an passenger on the Titanic.
The columns in the *dataframe* are:

|Variable|	Definition	|Key|
|------|-----------|-----------|
|survival	|Survival	|0 = No, 1 = Yes|
|pclass	|Ticket class	|1 = 1st, 2 = 2nd, 3 = 3rd|
|sex	|Sex	||
|Age	|Age in years	||
|sibsp	|# of siblings / spouses aboard the Titanic	||
|parch	|# of parents / children aboard the Titanic	||
|ticket	|Ticket number	||
|fare	|Passenger fare	||
|cabin	|Cabin number	||
|embarked	|Port of Embarkation|	C = Cherbourg, Q = Queenstown, S = Southampton|


**References:**
Kaggle. n.d. "Titanic - Machine Learning from Disaster." Accessed July 19, 2021. https://www.kaggle.com/c/titanic/data

### Question 1
*4 points*

Read the file `titanic.csv` in the `data/` folder and assign it to a *dataframe* called `titanic`.

Does the *dataframe* has any missing values? If yes, how many? Assign your result to *`ans1a`*.

In [3]:
### GRADED

### YOUR SOLUTION HERE
titanic = pd.read_csv('data/titanic.csv')
ans1a = titanic.isna().sum().sum()
ans1a

866

Run the code cell below to visualize the first few rows of your *dataframe*.

In [4]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Question 2
*4 points*

Define a *series, `ans2a,`* that counts the number of males and females in the *dataframe*. 

How many female passengers were on the ship? Assign your result to *`ans2b`*.

In [6]:
### GRADED

### YOUR SOLUTION HERE
ans2a = titanic['Sex'].value_counts()
ans2b = ans2a['female']
ans2b

314

### Question 3
*3 points*

What was the age of the oldest passenger? Assign your answer to *`ans3a.`*

What was the age of the youngest passenger? Assign your answer to *`ans3b.`*

In [12]:
### GRADED

### YOUR SOLUTION HERE
ans3a = titanic['Age'].max()
ans3b = titanic['Age'].min()
ans3b

0.42

### Question 4
*3 points*

What was the average fare to travel on the Titanic? Assign your result to *`ans4a`*.

In [13]:
### GRADED

### YOUR SOLUTION HERE
ans4a = titanic['Fare'].mean()
ans4a

32.204207968574636

### Question 5
*4 points*

Define a *series, `ans5a,`* containing the letter corresponding to the port of embarkation (`'C', 'Q',` or `'S'`) in descending alphabetical order.

Use the *function [`sort_values()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)*.

In [18]:
### GRADED

### YOUR SOLUTION HERE
ans5a = titanic['Embarked'].sort_values(ascending = False)
ans5a

258      C
125      C
354      C
352      C
128      C
      ...
355      S
344      S
445      S
61     NaN
829    NaN
Name: Embarked, Length: 891, dtype: object

### Question 6
*2 points*


How many people died in the disaster? Assign your answer to *`ans6a.`*

In [20]:
### GRADED

### YOUR SOLUTION HERE
ans6a = titanic['Survived'].value_counts()[0]
ans6a

549