# Codio Coding Activity 3.4: Designing, Structuring, and Indexing Pandas Dataframes

### Learning Outcome Addressed

- 8. Design *dataframes* in pandas.


## Index:

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)
- [Question 7](#Question-7)
- [Question 8](#Question-8)
- [Question 9](#Question-9)

### Importing Pandas

Before you begin this activity, you need to import the *pandas* library.

Run the code cell below:

In [1]:
import pandas as pd
import numpy as np

### A Note about the Data

The datasets used throughout this activity are saved inside the folder `/data`.

More information about this dataset can be found on Kaggle at this link:

https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

Each row in the file `athlete_events.csv` corresponds to an individual athlete competing in an individual Olympic event. The columns in the *dataframe* are:

- ID - Unique number for each athlete
- Name - Athlete's name
- Sex - M or F
- Age - Athlete's age
- Height - In centimeters
- Weight - In kilograms
- Team - Team name
- NOC - National Olympic Committee 3-letter code
- Games - Year and season
- Year - Year of game
- Season - Summer or Winter
- City - Host city
- Sport - Sport
- Event - Event
- Medal - Gold, Silver, Bronze, or NA


**References:**
Rgriffin. (2018). “120 years of Olympic history: athletes and results.” Accessed July 15, 2021. 
https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results .

### Question 1
*1 point*

Read the file `"athlete_events.csv"` in the `data/` folder and assign it to a *dataframe* called `athletes`.

In [6]:
### GRADED

### YOUR SOLUTION HERE
athletes = pd.read_csv('data/athlete_events.csv')

Let's take a look at the *dataframe* *`athletes`*.

In [7]:
athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Question 2
*3 points*

Create a new *dataframe, `ans2a,`* by selecting the following from the *dataframe `athletes`*:
    
- the rows with labels from 3 through 11.
- the columns from `ID` to `Height`.

In [8]:
### GRADED

### YOUR SOLUTION HERE
ans2a = athletes.loc[3:11,'ID':'Height']
ans2a

    ID                      Name Sex   Age  Height
3    4      Edgar Lindenau Aabye   M  34.0     NaN
4    5  Christine Jacoba Aaftink   F  21.0   185.0
5    5  Christine Jacoba Aaftink   F  21.0   185.0
6    5  Christine Jacoba Aaftink   F  25.0   185.0
7    5  Christine Jacoba Aaftink   F  25.0   185.0
8    5  Christine Jacoba Aaftink   F  27.0   185.0
9    5  Christine Jacoba Aaftink   F  27.0   185.0
10   6           Per Knut Aaland   M  31.0   188.0
11   6           Per Knut Aaland   M  31.0   188.0

### Question 3
*3 points*

Select all the rows from the *dataframe `athletes`* where *`Year`* is greater than 1980. 
Assign this *dataframe* to *`ans3a`*.

In [32]:
### GRADED

### YOUR SOLUTION HERE
ans3a = athletes[athletes['Year'] > 1980]
ans3a

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

### Question 4
*3 points*

Select the rows with *index* 0, 10, 20, 40, 43, 66 and the columns with *index* 0, 3, 5 from the *dataframe `athletes.`* Store your results in a *dataframe* called *`ans4a`*.

In [46]:
### GRADED

### YOUR SOLUTION HERE
ans4a = athletes.iloc[[0,10,20,40,43,66],[0,3,5]]
ans4a

    ID   Age  Weight
0    1  24.0    80.0
10   6  31.0    75.0
20   7  31.0    72.0
40  16  28.0    85.0
43  17  28.0    64.0
66  20  22.0    85.0

### Question 5
*2 points*

Define a *pandas dataframe, `ans5a,`* with the following elements:
    
    
| Country Code | Country | 
| --- | --- | 
| USA| United States| 
| ITA| Italy| 
| CAN| Canada|
| DEU| Germany| 

Next, define a *pandas dataframe, `ans5b,`* with the following entries:

| Country Code | Country | 
| --- | --- | 
| FRA| France| 
| GBT| NaN| 

**HINT:** Use *`np.NaN`* to define the missing values.

In [51]:
### GRADED
import numpy as np

### YOUR SOLUTION HERE
ans5a = pd.DataFrame({'Country Code':['USA','ITA','CAN','DEU'],'Country':['United States','Italy','Canada','Germany']})
# Alternative solution
ans5b = pd.DataFrame([['FRA','France'],['GBT',np.NaN]],columns=['Country Code','Country'])
ans5b

  Country Code Country
0          FRA  France
1          GBT     NaN

### Question 6
*2 points*

Perform a union between *`ans5a`* and *`ans5b`*. Assign the new *dataframe* to *`ans6a`*. Reset the *index*.

In [54]:
### GRADED

### YOUR SOLUTION HERE
ans6a = pd.concat([ans5a,ans5b],ignore_index=True)
ans6a

  Country Code        Country
0          USA  United States
1          ITA          Italy
2          CAN         Canada
3          DEU        Germany
4          FRA         France
5          GBT            NaN

Run the code cell below to visualize the *dataframe `ans6a.`*

In [55]:
ans6a.head(6)

  Country Code        Country
0          USA  United States
1          ITA          Italy
2          CAN         Canada
3          DEU        Germany
4          FRA         France
5          GBT            NaN

### Question 7
*1 point*

Define a *pandas dataframe, `ans7a,`* with the following elements:
    
    
| Country Code | Capital | 
| --- | --- | 
| USA| Washington| 
| ITA| Rome| 
| CAN| NaN|
| DEU| Berlin|
| GBT| NaN|

In [58]:
### GRADED

### YOUR SOLUTION HERE
data = {
    "Country Code": ["USA", "ITA", "CAN", "DEU", "GBT"],
    "Capital": ["Washington", "Rome", np.nan, "Berlin", np.NAN],
}
ans7a = pd.DataFrame(data)

ans7a

  Country Code     Capital
0          USA  Washington
1          ITA        Rome
2          CAN         NaN
3          DEU      Berlin
4          GBT         NaN

### Question 8
*3 points*

Perform an inner *join* on the column *`Country Code`* between *`ans6a`* and *`ans7a`*. Assign the new *dataframe* to *`ans8a`*.

How many NaNs are in the resulting *dataframe*? Assign your response as an integer to *`ans8b`*.

In [61]:
### GRADED

### YOUR SOLUTION HERE
ans8a = pd.merge(ans6a,ans7a,on='Country Code',how='inner')
ans8b = ans8a.isna().sum().sum()
ans8b

3

### Question 9
*2 points*

Perform a left *join* on the column *`Country Code`* between *`ans6a`* and *`ans7a`*. Assign the new *dataframe* to *`ans9a`*.

How many NaNs are in the resulting *dataframe*? Assign your response as an integer to *`ans9b`*.

In [63]:
### GRADED

### YOUR SOLUTION HERE
ans9a = pd.merge(ans6a,ans7a,on='Country Code',how='left')
ans9b = ans9a.isna().sum().sum()
ans9b

4